# Copy to .env and fill values
BOT_TOKEN=YOUR_TELEGRAM_BOT_TOKEN

# Owner with full privileges (no limits)
OWNER_ID=8368957390

# Allowed group for non-owner users
GROUP_ID=-5170978969

# MongoDB
USE_MONGO=1
MONGO_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB_NAME=rippingbot

# Optional
DEFAULT_THEME=cold
PART_MAX_MB=2000
GLOBAL_MAX_CONCURRENT=3
PLAYLIST_REFRESH_SEC=300
ACTIVE_PLAYLIST_REFRESH_SEC=60
DAILY_RESET_TZ=Asia/Dhaka
DAILY_RESET_HOUR=23
DAILY_RESET_MINUTE=59
